# system
.DS_Store

# secret
credentials-patentcity.json
apikey-here.txt
mapbox_token.txt

# data
**/data/
data_tmp/

# models
**/en_ent_gbpatent01_sm_beta

# system
**/.idea/
**/__pycache__/
/models

# pkg
*.egg-info
/lib
