/loc_frpatentxx.disamb.txt
/geoc_frpatentxx.disamb.index.txt
/loc_frpatentxx.disamb.index.txt
/loc_frpatentxx.disamb.index.override.txt
/pubdate_depatentxx.imputation.csv
/pubdate_ddpatentxx.imputation.csv
/pubdate_ddpatentxx.training.csv
/fst_cit.json
/geoc_iso.disamb.index.csv
