/gold_ent_gbpatent01.jsonl
/gold_ent_frpatent01.jsonl
/gold_ent_frpatent02.jsonl
/test_ent_gbpatent01.json
/test_ent_frpatent01.json
/test_ent_frpatent02.json
/train_ent_gbpatent01.json
/train_ent_frpatent01.json
/train_ent_frpatent02.json
