/gold_ent_gbpatent01.jsonl
/gold_ent_frpatent01.jsonl
/gold_ent_frpatent02.jsonl
/test_ent_gbpatent01.json
/test_ent_frpatent01.json
/test_ent_frpatent02.json
/train_ent_gbpatent01.json
/train_ent_frpatent01.json
/train_ent_frpatent02.json
/gold_ent_depatent01.jsonl
/gold_ent_depatent02.jsonl
/test_ent_depatent01.json
/test_ent_depatent02.json
/train_ent_depatent01.json
/train_ent_depatent02.json
/gold_ent_gbpatentocr01.jsonl
/test_ent_gbpatentocr01.json
/train_ent_gbpatentocr01.json
/gold_ent_uspatent01.jsonl
/gold_ent_uspatent02.jsonl
/gold_ent_ddpatent01.jsonl
/gold_ent_ddpatent02.jsonl
/test_ent_ddpatent01.json
/test_ent_ddpatent02.json
/train_ent_ddpatent01.json
/train_ent_ddpatent02.json
/gold_ent_uspatentocr01.jsonl
/gold_ent_uspatentocr02.jsonl
/test_ent_uspatentocr01.json
/test_ent_uspatentocr02.json
/train_ent_uspatentocr01.json
/train_ent_uspatentocr02.json
/gold_cit_gbpatentocr01.csv
/gold_cit_uspatentocr01.csv
/gold_cit_uspatentocr02.csv
/gold_cit_uspatentocr03.csv
