/gold_ent_frpatent01.jsonl
/gold_ent_frpatent02.jsonl
/test_ent_frpatent01.json
/test_ent_frpatent02.json
/train_ent_frpatent01.json
/train_ent_frpatent02.json
/gold_ent_depatent01.jsonl
/gold_ent_depatent02.jsonl
/test_ent_depatent01.json
/test_ent_depatent02.json
/train_ent_depatent01.json
/train_ent_depatent02.json
/gold_ent_ddpatent01.jsonl
/gold_ent_ddpatent02.jsonl
/test_ent_ddpatent01.json
/test_ent_ddpatent02.json
/train_ent_ddpatent01.json
/train_ent_ddpatent02.json
/gold_rel_ddpatent01.jsonl
/gold_rel_ddpatent02.jsonl
/gold_rel_depatent01.jsonl
/gold_rel_depatent02.jsonl
/gold_rel_frpatent01.jsonl
/gold_rel_frpatent02.jsonl
/gold_rel_gbpatent01.jsonl
/gold_rel_uspatent01.jsonl
/gold_rel_uspatent02.jsonl
/gold_rel_uspatent03.jsonl
/gold_cit_gbpatent01.csv
/gold_cit_uspatent01.csv
/gold_cit_uspatent02.csv
/gold_cit_uspatent03.csv
/gold_ent_gbpatent01.old.jsonl
/gold_ent_gbpatent01.jsonl
/gold_ent_uspatent01.old.jsonl
/gold_ent_uspatent03.old.jsonl
/gold_ent_uspatent01.jsonl
/gold_ent_uspatent02.jsonl
/gold_ent_uspatent04.jsonl
/gold_ent_uspatent03.jsonl
/test_ent_uspatent03.json
/train_ent_uspatent03.json
/test_ent_gbpatent01.old.json
/test_ent_gbpatent01.json
/test_ent_uspatent01.json
/test_ent_uspatent02.json
/test_ent_uspatent04.json
/train_ent_gbpatent01.old.json
/train_ent_gbpatent01.json
/train_ent_uspatent01.json
/train_ent_uspatent02.json
/train_ent_uspatent04.json
/test_ent_ddpatent01.spacy
/test_ent_ddpatent02.spacy
/test_ent_depatent01.spacy
/test_ent_depatent02.spacy
/test_ent_frpatent01.spacy
/test_ent_frpatent02.spacy
/test_ent_gbpatent01.old.spacy
/test_ent_gbpatent01.spacy
/test_ent_uspatent01.spacy
/test_ent_uspatent02.spacy
/test_ent_uspatent03.spacy
/test_ent_uspatent04.spacy
/train_ent_ddpatent01.spacy
/train_ent_ddpatent02.spacy
/train_ent_depatent01.spacy
/train_ent_depatent02.spacy
/train_ent_frpatent01.spacy
/train_ent_frpatent02.spacy
/train_ent_gbpatent01.old.spacy
/train_ent_gbpatent01.spacy
/train_ent_uspatent01.spacy
/train_ent_uspatent02.spacy
/train_ent_uspatent03.spacy
/train_ent_uspatent04.spacy
/gold_geoc_wgp45.csv
/gold_rel_uspatent04.jsonl
/gold_pateedupl_uspatent01.jsonl
