/de_ent_ddpatent01
/de_ent_ddpatent02
/de_ent_depatent01
/de_ent_depatent02
/en_ent_uspatent01
/en_ent_uspatent02
/en_ent_uspatent03
/en_ent_uspatent04
/fr_ent_frpatent01
/fr_ent_frpatent02
/en_ent_gbpatent01
/xx_ispers_xxpatentxx_bow
/xx_ispers_xxpatentxx_cnn
